*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,Helvetica,sans-serif;
}
/* ------ styles for navbar -------*/
nav{
    background-color:  #477998;
    position: sticky;
    top:0;
    z-index: 1;
    padding: 0 2rem;
    font-size: 1.3rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50%;
    height: 100%;
    margin-bottom: 0;
}
.hamburger{
    visibility: hidden;
}
.nav-links li a{
    text-decoration: none;
    color: silver;
}
.nav-links li a:hover{
    text-decoration: none;
    color: rgb(224, 205, 205);
}
nav .username{
    color: silver;
    cursor: pointer;
}
nav .username:hover{
    color: rgb(224, 205, 205);
}
.user-image{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: silver;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: white;
    border: 1px solid silver;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    top: 140%;
    right: 0;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: 80px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent silver transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popup a{
    display: block;
    margin: 1rem 1rem;
    color: #477998;
    text-decoration: none;
}
.popup a:hover{
    color: #76acce;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ------ styles for Home page ------*/
.video-container{ 
    margin:1.5rem 0;
    display: flex;
    justify-content: center;
}
.vid{
    border:1px solid silver;
    margin-left: .5rem;
}
.post-title{
    margin-top: 4rem;
    text-align: center;
    color: silver;
}
/* ------ styles for search form -------*/
.search-form{
    width: 50%;
    margin: 1rem auto;
    display: flex;
}
.search-form input{
    border: 1px solid silver;
}
.search-form button{
    height: 3rem;
    width: 3rem;
    margin: .5rem 0;
    border: none;
    border-radius: 5px;
}
.search-title{
    text-align: center;
}

/*------ styles for login form, signup form and change password form------*/
.loginform, .signup-form{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginform p, .signup-form p{
    margin-bottom: 0;
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 30rem;
    background:linear-gradient(to right, #74ebd5, #acb6e5);
    margin: 3rem auto;
    border-radius: 1rem;
    padding: 1rem;
}
.login-icon{
    background-color: white;
    width: 5rem;
    height: 5rem;
    border: 1px solid white;
    border-radius: 40px;
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: .5rem;
}
.fa-user{
    font-size: 3rem;
    color: #74ebd5;
}
.loginform form, .signup-form form{
    margin-top: 2rem;
}
input{
   margin:.5rem 0;
   width: 100%;
   padding: .3rem .5rem;
   border-radius: 5px;
   border: 1 solid silver;
}
input[type=submit]{
   margin-top: 2rem;
   background-color: #477998;
   border: none;
   color: white;
   cursor: pointer;
}
.signup-btn{
    border-radius: 5px;
    padding:.3rem 1.5rem;
    border: 1px solid #477998;
    background-color: white;
    color: #477998;
    cursor: pointer;
    margin-top: 6rem;
}
.signup-btn a{
    text-decoration: none;
}
.error{
    color: red;
}
.uploadImageform p, .changePasswordform p{
    margin-top: 5rem;
    color: black;
}
.uploadImageform form{
    margin-top: 4rem;
}

/* loginform size changes when screen height is less than 400px. */
@media screen and (max-height:400px){
    .loginform, .signup-form{
        height: auto;
    }
    .center{
        width: 19rem;
        height: 23rem;
    }
    .login-icon{
        width: 3rem;
        height: 3rem;
        border-radius: 40px;
    }
    .fa-user{
        font-size: 2rem;
        color: #74ebd5;
    }
    input{
        margin:.3rem 0;
        width: 100%;
        padding: .2rem;
        border-radius: 5px;
        border: 1 solid silver;
     }
     .signup-btn{
        margin-top: 4rem;
     }
}
/*------ styles for post list ------*/
.post-session{
    width:80%;
    margin:3rem auto;
}
.card-img{
    max-width:80%;
    max-height: 300px;
}
.card-title{
    font-size: 2rem;
}
/* .showmore{
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: silver;
    margin: 2rem 0;
    text-align: center;
}
.showmore:hover{
    color:gray;
} */

/*------ styles for singlepost ------*/
.singlepost{
    width:80%;
    margin:3rem auto;
}
.card{
    padding: 1rem;
}
.card-head{
    font-family:'Rajdhani', sans-serif;
    font-style: italic;
}

/*------ styles for comment results ------*/
.comment-results-container{
    width:80%;
    margin:1rem auto;
    border:1px solid silver;
    padding: 1rem;
}
.comment-results-container p{
    margin: 1rem 0 0 1rem;
    display: inline;
}
.comment-date{
    text-align: end;
}
.comment-results{
    margin: 1rem 2rem;
}

/*------ styles for comment ------*/
.login-comment, .comment-form{
    width:80%;
    margin:0 auto 1rem;
    border:1px solid silver;
}
.comment-form p{
    margin: 1rem 0 0 1rem;
}
.login-comment p{
    text-align: center;
    font-size: 1.2rem;
    margin-top: .8rem;
}
textarea{
    width: 90%;
    border: none;
    margin: 0 1rem;
    padding: 1rem 2rem;
}
.comment-btn{
    display: block;
    border-radius: 5px;
    padding:.5rem 1.5rem;
    cursor: pointer;
    width: 10rem;
    margin-left: auto;
    margin-right: 1rem;
}

/*------ styles for about us ------*/
.about-us{
    width:80%;
    margin: 2rem auto;
}
.about-us h2{
    text-align: center;
    margin-bottom: 2rem;
}
.about-us p{
    font-size: 1.3rem;
}
.about-images{
    display: flex;
    justify-content: center;
}
.about-images img{
    display: block;
    max-width: 20rem;
    margin: 2rem auto;
    clip-path: circle(50% at 50% 50%);
}


/*------ styles for footer ------*/
footer{
    background: #35393C;
}
footer hr{
    background-color: white;
}
.footer-container{
    margin: 0 4rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap:2rem;
}
h4{
    color: #08BDBD;
}
.footer-right{
    text-align: right;
    color: white;
}         
.icons{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}
.icons>a{
    background:white;
    color:#35393C;
    padding-top: .5rem;
    margin-left: 1rem;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
}
footer ul{
    margin-top: 1.5rem;
    list-style: none;
}
footer ul li{
    margin-top: .5rem;
    cursor: pointer;
    color:white;
}
footer ul li:hover{
    color:rgb(196, 194, 194);
}
.copyright p{
       color: white;
       text-align: center;
       margin-bottom: 0;
}

/*------ break point ------*/

/*------ break point for navbar------*/
@media only screen and (max-width:786px){
    .nav-links{
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        background: linear-gradient(to right, #74ebd5, #acb6e5);
        height: 100%;
        width: 100%;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path:circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links li a{
        color: white;
    }
    .hamburger{
        visibility: visible;
        cursor: pointer;
        z-index: 3;
    }
    .open{
        clip-path: circle(1300px at 90% -20%);
        -webkit-clip-path:circle(1300px at 90% -20%);
        pointer-events: all;
    }
    .username{
        z-index: 4;
    }
}
/*------ break point for footer------*/
@media only screen and (max-width:786px){
    .video-container, .about-images{
        flex-direction: column;
    }
    footer .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-right{
        text-align: left;          
    }
    .icons{
    justify-content: flex-start;
    }
    .icons>a{
        margin-left: 0;
        margin-right: 1rem;
    }
    
}
@media only screen and (max-width:694px){
    footer .footer-container{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:988px){
    .about-images img{
       max-width: 16rem;
    }
}

